.container {
  position: sticky;

  top: 0;

  z-index: 999;
}

.menu {
  background-color: var(--primary-dark-color);

  color: var(--primary-white-color);

  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 2rem;

  position: relative;
}

.menu-list {
  background-color: var(--secondary-dark-color);

  height: calc(100% - (4rem + 1.5em));
  width: 100%;

  padding: 2rem;

  position: fixed;

  right: -100%;
  top: calc(4rem + 1.5em);

  transition: right 0.5s ease-in;
}

.menu-list.show {
  right: 0;
}

.menu-item:not(:last-child) {
  border-bottom: 0.1rem solid var(--secondary-white-color);
}

.menu-anchor {
  display: inline-block;

  letter-spacing: 0.075em;

  padding: 1rem 1.5rem;

  text-transform: uppercase;

  width: 100%;
}

.menu-icon {
  height: 1.5em;
}

@media (min-width: 340px) {
  .menu {
    padding: 3rem;
  }

  .menu-list {
    height: calc(100vh - (6rem + 1.5em));

    padding: 3rem;

    top: calc(6rem + 1.5em);
  }
}

@media (min-width: 768px) {
  .menu {
    gap: 3rem;

    justify-content: flex-start;
  }

  .menu-list {
    background-color: transparent;

    display: flex;

    gap: 2rem;

    height: auto;
    width: auto;

    padding: 0;

    position: initial;
  }

  .menu-item:not(:last-child) {
    border: none;
  }

  .menu-anchor {
    display: inline;

    padding: 0;
  }

  .menu-icon {
    display: none;
  }
}
